.header {
  position: relative;
  z-index: 333;
  
  &__content {
    max-width: 1052px;
    padding: 0 27px;
    margin: 0px auto;
  }

  &__menu {
    padding: 10px 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: ($md3+px)) {
      height: 50px;
    }
  }
}

.menu {
  &__icon {

  }
  &__body {
    @media (max-width: ($md3+px)) {
      transform: translate(0px, -100%);
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 70px 10px 33px 10px;
      overflow: auto;
    }
  }
  &__list {
    li {
      margin: 0px 0px 33px 0px;
      &:last-child {
        margin: 0;
      }
    }
    @media (min-width: ($md3+px)){
      display: flex;
      li {
        margin: 0 33px 0px 0px;
      }
    }
  }
  &__link {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    &._active {
      color: #FF6464;
    }
    @media (min-width: ($md2+px)){
      &:hover {
        color: #FF6464;
      }
    }
  }
}

.icon-menu {
  display: none;
  @media (max-width: ($md3+px)) {
    display: block;
    position: relative;
    width:30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    span {
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &._active {
      span {
        transform: scale(0);
        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }
}
