<header class="header">
  <div class="header__content">
    <div class="header__menu menu">
      <div class="menu__icon icon-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="menu__body">
        <ul class="menu__list">
          <li>
            <a href="" class="menu__link @@if(link==1) {_active}">Works!</a>
          </li>
          <li>
            <a href="" class="menu__link @@if(link==2) {_active}">Blog</a>
          </li>
          <li>
            <a href="" class="menu__link @@if(link==3) {_active}">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
